{% extends 'base.html' %}
{% block content %}
<title>Password Change Success</title>
<!-- .page -->
<div class="page">
  <!-- .page-inner -->
  <div class="page-inner">
    <main>
      <!-- .wrapper -->
      <div class="wrapper">
        <center>
          <div class="row">
            <!-- grid column -->
            <div class="col-12 col-lg-12">
              <!-- .card -->
              <div class="card-fluid">
                <!-- .card-body -->
                <div class="card-body"> 
                  <div class="chartjs" style="height: auto">
                    <h1 class="pb-4 px-6">Password Change Successful</h1>
                    <p>Redirecting to dashboard page in 5 seconds.</p>
                  </div>
                </div><!-- /.card-body -->
              </div><!-- /.card -->
            </div><!-- /grid column -->
          </div>
        </center>
      </div><!-- .app-footer -->
      <!-- /.wrapper -->
    </main><!-- /.app-main -->
  </div><!-- /.page-inner -->
</div><!-- /.page -->
<script>
  setTimeout(function() {window.location.href = "{% url 'dashboard:detectionDashboard' %}";}, 5000);
</script>
{% endblock %}