{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<title> Change Password </title>
<!-- .page -->
<div class="page">
  <!-- .page-inner -->
  <div class="page-inner">
    <main>
      <!-- .wrapper -->
      <div class="wrapper">
        <center>
          <div class="row">
            <!-- grid column -->
            <div class="col-12 col-lg-12">
              <!-- .card -->
              <div class="card-fluid">
                <!-- .card-body -->
                <div class="card-body"> 
                  <div class="chartjs" style="height: auto">
                    <h1 class="pb-4 px-6">Change Password</h1>
                    <form method="POST">
                      {% csrf_token %}
                      <fieldset class="form-group" style="width:450px">
                        <legend class="border-bottom mb-4">
                          {{ form|crispy}}
                        </legend>
                      </fieldset>
                      <div class="form-group">
                        <button type="submit" class="btn btn-outline-info">Confirm Change</button>
                      </div>
                    </form>
                  </div>
                </div><!-- /.card-body -->
              </div><!-- /.card -->
            </div><!-- /grid column -->
          </div>
        </center>
      </div><!-- .app-footer -->
      <!-- /.wrapper -->
    </main><!-- /.app-main -->
  </div><!-- /.page-inner -->
</div><!-- /.page -->
{% endblock %}