{% extends 'base.html' %}
{% block content %}
<title> Dashboard </title>
  <!-- .page -->
  <div class="page">
    <!-- .page-inner -->
    <div class="page-inner">
      <!-- .page-title-bar -->
      <header class="page-title-bar">
        <div class="d-flex flex-column flex-md-row">
          <p class="lead">
            <span class="font-weight-bold">Hi, {{user.username|default:'Guest'}}.</span> <span class="d-block text-muted">Here’s what’s happening with the network today.</span>
          </p>
          <div class="ml-auto">
          </div>
        </div>
      </header><!-- /.page-title-bar -->
      <!-- .page-section -->
      <div class="page-section">
        <!-- .section-block -->
        <div class="section-block">
          <!-- metric row -->
          <div class="metric-row">
            <div class="col-lg-9">
              <div class="metric-row metric-flush">
                <!-- metric column -->
                <div class="col">
                  <!-- .metric -->
                  <div class="metric metric-bordered align-items-center">
                    <h2 class="metric-label"> Files Transmitted Today</h2>
                    <p class="metric-value h3">
                      <sub><i class="oi oi-people"></i></sub> <span class="value">20</span>
                    </p>
                  </div> <!-- /.metric -->
                </div><!-- /metric column -->
                <!-- metric column -->
                <div class="col">
                  <!-- .metric -->
                  <div class="metric metric-bordered align-items-center">
                    <h2 class="metric-label"> Total Benign Files </h2>
                    <p class="metric-value h3">
                      <sub><i class="oi oi-fork"></i></sub> <span class="value">112</span>
                    </p>
                  </div> <!-- /.metric -->
                </div><!-- /metric column -->
                <!-- metric column -->
                <div class="col">
                  <!-- .metric -->
                  <div class="metric metric-bordered align-items-center">
                    <h2 class="metric-label"> Total Malicious Files </h2>
                    <p class="metric-value h3">
                      <sub><i class="fa fa-tasks"></i></sub> <span class="value">64</span>
                    </p>
                  </div> <!-- /.metric -->
                </div><!-- /metric column -->
              </div>
            </div><!-- metric column -->
            <div class="col-lg-3">
              <!-- .metric -->
              <div class="metric metric-bordered">
                <div class="metric-badge">
                  <span class="badge badge-lg badge-info"><span class="oi oi-media-record pulse mr-1"></span> Total Transmitted Files </span>
                </div>
                <p class="metric-value h3">
                  <sub><i class="oi oi-timer"></i></sub> <span class="value">200</span>
                </p>
              </div> <!-- /.metric -->
            </div><!-- /metric column -->
          </div><!-- /metric row -->
        </div><!-- /.section-block -->
        <!-- grid row -->
        <div class="row">
          <!-- grid column -->
          <div class="col-12 col-lg-12 col-xl-4">
            <!-- .card -->
            <div class="card card-fluid">
              <!-- .card-body -->
              <div class="card-body">
                <h3 class="card-title mb-4"> Dashboard title </h3>
                <div class="chartjs" style="height: 292px">
                  Embedded visualization
                </div>
              </div><!-- /.card-body -->
            </div><!-- /.card -->
          </div><!-- /grid column -->
          <!-- grid column -->
          <div class="col-12 col-lg-6 col-xl-4">
            <!-- .card -->
            <div class="card card-fluid">
              <!-- .card-body -->
              <div class="card-body">
                <h3 class="card-title mb-4"> Dashboard title </h3>
                <div class="chartjs" style="height: 292px">
                  Embedded visualization
                </div>
              </div><!-- /.card-body -->
            </div><!-- /.card -->
          </div><!-- /grid column -->
          <!-- grid column -->
          <div class="col-12 col-lg-6 col-xl-4">
            <!-- .card -->
            <div class="card card-fluid">
              <!-- .card-body -->
              <div class="card-body">
                <h3 class="card-title mb-4"> Dashboard title </h3>
                <div class="chartjs" style="height: 292px">
                  Embedded visualization
                </div>
              </div><!-- /.card-body -->
            </div><!-- /.card -->
          </div><!-- /grid column -->
        </div><!-- /grid row -->
        <!-- card-deck-xl -->
        <div class="card-deck-xl">
          <!-- .card -->
          <div class="card card-fluid pb-3">
            <div class="card-header"> Active Projects </div><!-- .lits-group -->
            <div class="lits-group list-group-flush">
              <!-- .lits-group-item -->
              <div class="list-group-item">
                <!-- .lits-group-item-figure -->
                <div class="list-group-item-figure">
                  <div class="has-badge">
                    <a href="page-project.html" class="tile tile-md bg-purple">LT</a> <a href="#team" class="user-avatar user-avatar-xs"><img alt=""></a>
                  </div>
                </div><!-- .lits-group-item-figure -->
                <!-- .lits-group-item-body -->
                <div class="list-group-item-body">
                  <h5 class="card-title">
                    <a href="page-project.html">Looper Admin Theme</a>
                  </h5>
                  <p class="card-subtitle text-muted mb-1"> Progress in 74% - Last update 1d </p><!-- .progress -->
                  <div class="progress progress-xs bg-transparent">
                    <div class="progress-bar bg-purple" role="progressbar" aria-valuenow="2181" aria-valuemin="0" aria-valuemax="100" style="width: 74%">
                      <span class="sr-only">74% Complete</span>
                    </div>
                  </div><!-- /.progress -->
                </div><!-- .lits-group-item-body -->
              </div><!-- /.lits-group-item -->
              <!-- .lits-group-item -->
              <div class="list-group-item">
                <!-- .lits-group-item-figure -->
                <div class="list-group-item-figure">
                  <div class="has-badge">
                    <a href="page-project.html" class="tile tile-md bg-indigo">SP</a> <a href="#team" class="user-avatar user-avatar-xs"><img alt=""></a>
                  </div>
                </div><!-- .lits-group-item-figure -->
                <!-- .lits-group-item-body -->
                <div class="list-group-item-body">
                  <h5 class="card-title">
                    <a href="page-project.html">Smart Paper</a>
                  </h5>
                  <p class="card-subtitle text-muted mb-1"> Progress in 22% - Last update 2h </p><!-- .progress -->
                  <div class="progress progress-xs bg-transparent">
                    <div class="progress-bar bg-indigo" role="progressbar" aria-valuenow="867" aria-valuemin="0" aria-valuemax="100" style="width: 22%">
                      <span class="sr-only">22% Complete</span>
                    </div>
                  </div><!-- /.progress -->
                </div><!-- .lits-group-item-body -->
              </div><!-- /.lits-group-item -->
              <!-- .lits-group-item -->
              <div class="list-group-item">
                <!-- .lits-group-item-figure -->
                <div class="list-group-item-figure">
                  <div class="has-badge">
                    <a href="page-project.html" class="tile tile-md bg-yellow">OS</a> <a href="#team" class="user-avatar user-avatar-xs"><img alt=""></a>
                  </div>
                </div><!-- .lits-group-item-figure -->
                <!-- .lits-group-item-body -->
                <div class="list-group-item-body">
                  <h5 class="card-title">
                    <a href="page-project.html">Online Store</a>
                  </h5>
                  <p class="card-subtitle text-muted mb-1"> Progress in 99% - Last update 2d </p><!-- .progress -->
                  <div class="progress progress-xs bg-transparent">
                    <div class="progress-bar bg-yellow" role="progressbar" aria-valuenow="6683" aria-valuemin="0" aria-valuemax="100" style="width: 99%">
                      <span class="sr-only">99% Complete</span>
                    </div>
                  </div><!-- /.progress -->
                </div><!-- .lits-group-item-body -->
              </div><!-- /.lits-group-item -->
              <!-- .lits-group-item -->
              <div class="list-group-item">
                <!-- .lits-group-item-figure -->
                <div class="list-group-item-figure">
                  <div class="has-badge">
                    <a href="page-project.html" class="tile tile-md bg-blue">BA</a> <a href="#team" class="user-avatar user-avatar-xs"><img alt=""></a>
                  </div>
                </div><!-- .lits-group-item-figure -->
                <!-- .lits-group-item-body -->
                <div class="list-group-item-body">
                  <h5 class="card-title">
                    <a href="page-project.html">Booking App</a>
                  </h5>
                  <p class="card-subtitle text-muted mb-1"> Progress in 35% - Last update 4h </p><!-- .progress -->
                  <div class="progress progress-xs bg-transparent">
                    <div class="progress-bar bg-blue" role="progressbar" aria-valuenow="112" aria-valuemin="0" aria-valuemax="100" style="width: 35%">
                      <span class="sr-only">35% Complete</span>
                    </div>
                  </div><!-- /.progress -->
                </div><!-- .lits-group-item-body -->
              </div><!-- /.lits-group-item -->
              <!-- .lits-group-item -->
              <div class="list-group-item">
                <!-- .lits-group-item-figure -->
                <div class="list-group-item-figure">
                  <div class="has-badge">
                    <a href="page-project.html" class="tile tile-md bg-teal">SB</a> <a href="#team" class="user-avatar user-avatar-xs"><img alt=""></a>
                  </div>
                </div><!-- .lits-group-item-figure -->
                <!-- .lits-group-item-body -->
                <div class="list-group-item-body">
                  <h5 class="card-title">
                    <a href="page-project.html">SVG Icon Bundle</a>
                  </h5>
                  <p class="card-subtitle text-muted mb-1"> Progress in 32% - Last update 1d </p><!-- .progress -->
                  <div class="progress progress-xs bg-transparent">
                    <div class="progress-bar bg-teal" role="progressbar" aria-valuenow="461" aria-valuemin="0" aria-valuemax="100" style="width: 32%">
                      <span class="sr-only">32% Complete</span>
                    </div>
                  </div><!-- /.progress -->
                </div><!-- .lits-group-item-body -->
              </div><!-- /.lits-group-item -->
              <!-- .lits-group-item -->
              <div class="list-group-item">
                <!-- .lits-group-item-figure -->
                <div class="list-group-item-figure">
                  <div class="has-badge">
                    <a href="page-project.html" class="tile tile-md bg-pink">SP</a> <a href="#team" class="user-avatar user-avatar-xs"><img alt=""></a>
                  </div>
                </div><!-- .lits-group-item-figure -->
                <!-- .lits-group-item-body -->
                <div class="list-group-item-body">
                  <h5 class="card-title">
                    <a href="page-project.html">Syrena Project</a>
                  </h5>
                  <p class="card-subtitle text-muted mb-1"> Progress in 93% - Last update 8h </p><!-- .progress -->
                  <div class="progress progress-xs bg-transparent">
                    <div class="progress-bar bg-pink" role="progressbar" aria-valuenow="3981" aria-valuemin="0" aria-valuemax="100" style="width: 93%">
                      <span class="sr-only">93% Complete</span>
                    </div>
                  </div><!-- /.progress -->
                </div><!-- .lits-group-item-body -->
              </div><!-- /.lits-group-item -->
            </div><!-- /.lits-group -->
          </div><!-- /.card -->
          <!-- .card -->
          <div class="card card-fluid">
            <div class="card-header"> Active Tasks: To-Dos </div><!-- .card-body -->
            <div class="card-body">
              <!-- .todo-list -->
              <div class="todo-list">
                <!-- .todo-header -->
                <div class="todo-header"> Looper Admin Theme (1/3) </div><!-- /.todo-header -->
                <!-- .todo -->
                <div class="todo">
                  <!-- .custom-control -->
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="todo1"> <label class="custom-control-label" for="todo1">Eat corn on the cob</label>
                  </div><!-- /.custom-control -->
                </div><!-- /.todo -->
                <!-- .todo -->
                <div class="todo">
                  <!-- .custom-control -->
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="todo2" checked> <label class="custom-control-label" for="todo2">Mix up a pitcher of sangria</label>
                  </div><!-- /.custom-control -->
                </div><!-- /.todo -->
                <!-- .todo -->
                <div class="todo">
                  <!-- .custom-control -->
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="todo3"> <label class="custom-control-label" for="todo3">Have a barbecue</label>
                  </div><!-- /.custom-control -->
                </div><!-- /.todo -->
                <!-- .todo -->
                <div class="todo">
                  <!-- .custom-control -->
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="todo4"> <label class="custom-control-label" for="todo4">Ride a roller coaster — <span class="text-red small">Overdue in 3 days</span></label>
                  </div><!-- /.custom-control -->
                </div><!-- /.todo -->
                <!-- .todo-header -->
                <div class="todo-header"> Smart Paper (0/2) </div><!-- /.todo-header -->
                <!-- .todo -->
                <div class="todo">
                  <!-- .custom-control -->
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="todo5"> <label class="custom-control-label" for="todo5">Bring a blanket and lie on the grass at an outdoor concert</label>
                  </div><!-- /.custom-control -->
                </div><!-- /.todo -->
                <!-- .todo -->
                <div class="todo">
                  <!-- .custom-control -->
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="todo6"> <label class="custom-control-label" for="todo6">Collect seashells at the beach</label>
                  </div><!-- /.custom-control -->
                </div><!-- /.todo -->
                <!-- .todo -->
                <div class="todo">
                  <!-- .custom-control -->
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="todo7"> <label class="custom-control-label" for="todo7">Swim in a lake</label>
                  </div><!-- /.custom-control -->
                </div><!-- /.todo -->
                <!-- .todo -->
                <div class="todo">
                  <!-- .custom-control -->
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="todo8"> <label class="custom-control-label" for="todo8">Get enough sleep!</label>
                  </div><!-- /.custom-control -->
                </div><!-- /.todo -->
              </div><!-- /.todo-list -->
            </div><!-- /.card-body -->
            <!-- .card-footer -->
            <div class="card-footer">
              <a href="#" class="card-footer-item">View all <i class="fa fa-fw fa-angle-right"></i></a>
            </div><!-- /.card-footer -->
          </div><!-- /.card -->
        </div><!-- /card-deck-xl -->
      </div><!-- /.page-section -->
    </div><!-- /.page-inner -->
  </div><!-- /.page -->
{% endblock %}